@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";

@import "./base/base";
@import "./base/typography";

@import "./components/buttons";

@import "./layout/header";
@import "./layout/nav";
@import "./layout/container";
@import "./layout/form";


@import "./pages/work";
@import "./pages/about";
@import "./pages/project";

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');


header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 215px;
    &>a{
        cursor: pointer;
        margin: 10px 5%;
        &>span{
            font-size: 12px;
            color: $anthracite;
        }
    }
    &>:nth-child(2){
        width: 110px;
        padding: 10px 0 10px 20%;
    }
    &>:nth-child(3){
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        z-index: -1;
    }
}

main{
    background-color: white;
    position: relative;
    padding: 20px 10px ;
    border-radius: 30px 30px 0 0;
    &>h1{
        font-family: 'Shrikhand';
        margin-top: 0;
        font-size: 24px;
        &>span{
            cursor: pointer;
            padding-left: 30px;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            -webkit-text-stroke: 2px black;
            background-image: linear-gradient(-45deg, $lavande, $lavande, white, white);
            background-size: 450% 450%;
            background-position: 0%;
            &:hover{
                animation: gradient .7s ease-in forwards;
            }
        }
    }
    &>:nth-child(2){
        &>h2{
            text-transform: uppercase;
            color: $grey;
            font-size: 16px;
            margin-top: 20px;
            margin-bottom: 20px;
            width:fit-content;
            position: relative;
            display: block;
            padding-bottom: 5px;
            opacity: 0;
            animation: h2 .6s linear forwards;
            &::before{
                content:'';
                position: absolute;
                width: 40px;
                left: 0;
                bottom: 0;
                border-bottom: 3px solid $mint;
            }
        }
        &>ul{
            list-style: none;
            &>li{
                display: flex;
                width: 100%;
                height: 50px;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                font-size: 12px;
                border-radius: 10px;
                margin-bottom: 10px;
                opacity: 0;
                overflow: hidden;
                box-shadow: 0px 5px 20px 0px $box-shadow;
                &:nth-child(1){
                    animation: li .6s 3.2s linear forwards;
                }
                &:nth-child(2){
                    animation: li .6s 3.4s linear forwards;
                }
                &:nth-child(3){
                    animation: li .6s 3.6s linear forwards;
                }
                &:nth-child(4){
                    animation: li .6s 3.8s linear forwards;
                }
                &>div:nth-child(1){
                    padding-left: 15px;
                    overflow: hidden;
                    width: 90%;
                    &>h3{
                        font-weight: 700;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        width: 100%;
                    }
                    &>p{
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        width: 100%;
                    }
                }
                &>div:nth-child(2){
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    &>span{
                        font-weight: 700;
                        display: block;
                        margin: auto;
                        padding: 18px 15px 0 15px;

                    }
                    &>div{
                        display: flex;
                        background-color: $mint;
                        width: 0;
                        height: 100%;
                        text-align: center;
                        &>span{
                            transform: rotate(-180deg);
                            background-color: white;
                            color: $mint;
                            border-radius: 30px;
                            padding: 5px;
                            align-self: center;
                            margin: auto;
                        }
                    }
                }
                &:hover{
                    transition: all 1s ease;
                    &>div:nth-child(2){
                        &>div{
                            width: 40px;
                            transition-duration: 1s;
                            &>span{
                                transform: rotate(0);
                                transition-duration: .8s;
                            }
                        }
                    }
                }
            }
        }
    }
    &>:nth-child(3){
        &>h2{
            text-transform: uppercase;
            color: $grey;
            font-size: 16px;
            margin-top: 20px;
            margin-bottom: 20px;
            width:fit-content;
            position: relative;
            display: block;
            padding-bottom: 5px;
            opacity: 0;
            animation: h2 .6s linear forwards;
            &::before{
                content:'';
                position: absolute;
                width: 40px;
                left: 0;
                bottom: 0;
                border-bottom: 3px solid $mint;
            }
        }
        &>ul{
            list-style: none;
            &>li{
                display: flex;
                width: 100%;
                height: 50px;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                font-size: 12px;
                border-radius: 10px;
                margin-bottom: 10px;
                opacity: 0;
                overflow: hidden;
                box-shadow: 0px 5px 20px 0px $box-shadow;
                &:nth-child(1){
                    animation: li .6s 3.2s linear forwards;
                }
                &:nth-child(2){
                    animation: li .6s 3.4s linear forwards;
                }
                &:nth-child(3){
                    animation: li .6s 3.6s linear forwards;
                }
                &>div:nth-child(1){
                    padding-left: 15px;
                    overflow: hidden;
                    width: 90%;
                    &>h3{
                        font-weight: 700;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        width: 100%;
                    }
                    &>p{
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        width: 100%;
                    }
                }
                &>div:nth-child(2){
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    &>span{
                        font-weight: 700;
                        display: block;
                        margin: auto;
                        padding: 18px 15px 0 15px;

                    }
                    &>div{
                        display: flex;
                        background-color: $mint;
                        width: 0;
                        height: 100%;
                        text-align: center;
                        &>span{
                            transform: rotate(-180deg);
                            background-color: white;
                            color: $mint;
                            border-radius: 30px;
                            padding: 5px;
                            align-self: center;
                            margin: auto;
                        }
                    }
                }
                &:hover{
                    transition: all 1s ease;
                    &>div:nth-child(2){
                        &>div{
                            width: 40px;
                            transition-duration: 1s;
                            &>span{
                                transform: rotate(0);
                                transition-duration: .8s;
                            }
                        }
                    }
                }
            }
        }
    }
    &>:nth-child(4){
        &>h2{
            text-transform: uppercase;
            color: $grey;
            font-size: 16px;
            margin-top: 20px;
            margin-bottom: 20px;
            width:fit-content;
            position: relative;
            display: block;
            padding-bottom: 5px;
            opacity: 0;
            animation: h2 .6s linear forwards;
            &::before{
                content:'';
                position: absolute;
                width: 40px;
                left: 0;
                bottom: 0;
                border-bottom: 3px solid $mint;
            }
        }
        &>ul{
            list-style: none;
            &>li{
                display: flex;
                width: 100%;
                height: 50px;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                font-size: 12px;
                border-radius: 10px;
                margin-bottom: 10px;
                opacity: 0;
                overflow: hidden;
                box-shadow: 0px 5px 20px 0px $box-shadow;
                &:nth-child(1){
                    animation: li .6s 3.2s linear forwards;
                }
                &:nth-child(2){
                    animation: li .6s 3.4s linear forwards;
                }
                &:nth-child(3){
                    animation: li .6s 3.6s linear forwards;
                }
                &>div:nth-child(1){
                    padding-left: 15px;
                    overflow: hidden;
                    width: 90%;
                    &>h3{
                        font-weight: 700;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        width: 100%;
                    }
                    &>p{
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        width: 100%;
                    }
                }
                &>div:nth-child(2){
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    &>span{
                        font-weight: 700;
                        display: block;
                        margin: auto;
                        padding: 18px 15px 0 15px;

                    }
                    &>div{
                        display: flex;
                        background-color: $mint;
                        width: 0;
                        height: 100%;
                        text-align: center;
                        &>span{
                            transform: rotate(-180deg);
                            background-color: white;
                            color: $mint;
                            border-radius: 30px;
                            padding: 5px;
                            align-self: center;
                            margin: auto;
                        }
                    }
                }
                &:hover{
                    transition: all 1s ease;
                    &>div:nth-child(2){
                        &>div{
                            width: 40px;
                            transition-duration: 1s;
                            &>span{
                                transform: rotate(0);
                                transition-duration: .8s;
                            }
                        }
                    }
                }
            }
        }
    }

    &>a{
        cursor: pointer;
        width: 110px;
        display: block;
        border: solid 1px $lila;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 15px;
        font-size: 12px;
        text-align: center;
        text-decoration: none;
        border-radius: 30px;
        color: white;
        background-color: $lila;
        box-shadow: inset -10px -10px 20px 10px #a25bdc, 0px 5px 10px 0px $grey;
        &:hover{
            box-shadow: inset -10px -10px 20px 10px #a25bdc, 0px 5px 10px 0px $anthracite;
        }
    }
}

@media screen and (min-width: 768px){

    header{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: 200px;
        width: 100%;
        max-width: 1440px;
        &>:nth-child(2){
            padding: 10px 0 10px 30%;
        }
    }

    main{
        display: flex;
        flex-wrap: wrap;
        &>h1{
            width: 95%;
            display: flex;
            justify-content: space-between;
            margin-inline: 20px;
        }
        &>section{
            width: 30%;
            margin-inline: auto;
        }
        &>a{
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}

@media screen and (min-width: 1024px){

    header{
        max-width: 1440px;
        height: 300px;
        &>:nth-child(2){
            padding: 10px 0 10px 35%;
        }
        &>:nth-child(3){
            height: 300px;
        }
    }

    main{
        max-width: 1440px;
        &>h1{
            width: 100%;
            align-items: center;
            &>span{
                padding-left: 0;
            }
        }
        &>section{
            width: 31%;
        }
    }

    footer{
        max-width: 1440px;
    }

}