@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";

@import "./base/base";
@import "./base/typography";

@import "./components/buttons";

@import "./layout/header";
@import "./layout/nav";
@import "./layout/container";
@import "./layout/form";


@import "./pages/work";
@import "./pages/about";
@import "./pages/project";

body{
    min-width: 320px;
}

header{
    width: 100%;
    box-shadow: 0px -2px 20px 3px #c1c1c1;
    display: flex;
    margin-bottom: 5px;
    & img{
        width: 150px;
        padding: 10px 0 10px 0;
        margin: auto;
    }
}

nav{
    &>div{
        color: black;
        background-color: $cloudy;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0 10px 55px;
        margin-bottom: 30px;
            &>span{
                color: black;
                padding-right: 10px;
            }
            &>input{
                border: none;
                font-weight: bold;
                color: $anthracite;
                background-color: $cloudy;
            }
    }
    &>h1{
        font-size: 20px;
        width: 200px;
        text-align: center;
        margin: auto;
        margin-bottom: 10px;
    }
    &>p{
        color: #636363;
        margin: auto;
        margin-bottom: 30px;
        text-align: center;
        max-width: 300px;
    }
    &>a{
        width: fit-content;
        cursor: pointer;
        display: block;
        border: solid 1px $lavande;
        padding: 15px;
        font-size: 14px;
        text-decoration: none;
        text-align: center;
        border-radius: 30px;
        color: white;
        background-color: $lila;
        margin: auto;
        margin-bottom: 70px;
        box-shadow: inset -10px -10px 20px 10px #a25bdc, 0px 5px 10px 0px $grey;
        &:hover{
            box-shadow: inset -10px -10px 20px 10px #a25bdc, 0px 5px 10px 0px $anthracite;
        }
    }
}

article{
    margin-inline: 5%;
    margin-bottom: 70px;
    & h2{
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 30px;
    }
    &>ul{
        &>li{
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            &>span{
                font-size: 12px;
                margin-right: 15px;
                padding: 4px;
                padding-inline: 7px;
                background-color: $lavande;
                color: white;
                border-radius: 30px;
                position: absolute;
            }
            &>div{
                display: flex;
                width: 250px;
                border-radius: 10px;
                box-shadow: 0px 10px 20px 5px $box-shadow;
                margin-left: 15px;
                align-items: center;
                &>span{
                    padding: 20px 15px 20px 20px;
                    padding-left: 20px;
                    padding-right: 15px;
                    color: $grey;
                }
                &>p{
                    font-size: 12px;
                    font-weight: 700;
                }
            }
        }
    }
}

.fa-store{
    color: $lavande;
}

main{
    margin-inline: 5%;
    margin-bottom: 50px;
    &>h2{
        font-weight: bold;
        margin-bottom: 20px;
    }
    &>div{
        &>figure{
            box-shadow: 0px 10px 20px 2px $box-shadow;
            width: auto;
            height: 200px;
            border-radius: 15px;
            position: relative;
            z-index: 1;
            margin-bottom: 20px;
            & img{
                width: 100%;
                height: 150px;
                border-radius: 15px 15px 0px 0px;
                object-fit: cover;
            }
            &>a>span{
                position: absolute;
                top: 10px;
                right: 10px;
                padding: 5px;
                color: $chloro;
                background-color: $mint;
                border-radius: 2px;
                font-weight: 700;
            }
            & figcaption{
                padding-top: 5px;
                padding-bottom: 5px;
                font-weight:normal;
                &>a{
                    color: black;
                }
                &>span{
                    font-size: 18px;
                    position: relative;
                    z-index: 2;
                    bottom: 27px;
                    left: 250px;
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    -webkit-text-stroke: 2px black;
                    background-image: linear-gradient(-45deg, $lavande, $lavande, white, white);
                    background-size: 450% 450%;
                    background-position: 0%;
                    &:hover{
                        animation: gradient .7s ease-in forwards;
                    }
                }
                & h3{
                    padding-left: 10px;
                    font-size: 12px;
                    &>span{
                        font-weight: 700;
                    }
                }
            }
        }
    }
}



footer{
    display: flex;
    flex-direction: column;
    background-color: $deepgrey;
    font-size: 12px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    &>img{
        filter: invert(100%);
        width: 80px;
        padding-bottom: 20px;
    }
    &>a{
        display: flex;
        color: white;
        text-decoration: none;
        margin-bottom: 5px;
        &>span{
            margin-right: 5px;
            font-size: 10px;
        }
    }
}

@media screen and (min-width: 768px){
    
    article{
        margin-bottom: 50px;
        &>h2{
            margin-bottom: 60px;
        }
        &>ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            &>li{
                margin-right: 20px;
            }
        }
    }

    main>div>figure>span{
        left: 650px;
    }

}

@media screen and (min-width: 1440px){

    article ul{
        justify-content: space-around;
    }

    main{
        &>h2{
            margin-bottom: 50px;
        }
        &>div{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 1000px;
            &>figure{
                width: 400px;
                &>span{
                    left: 360px;
                }
            }
        }
    }

}