body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  min-width: 320px;
  max-width: 1440px;
}

h1 {
  display: block;
  font-weight: bold;
}

h2 {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: normal;
}

h3 {
  display: block;
  font-size: unset;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: normal;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

span {
  font-size: 40px;
}

a {
  display: block;
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}

figure {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

header {
  margin-bottom: 300px;
}
header img {
  margin: auto;
  padding-inline: 294px;
  padding-top: 40px;
  padding-bottom: 40px;
  box-shadow: 0px 7px 10px 3px #c1c1c1;
}
header > div {
  color: black;
  background-color: #e5f1f1;
  display: flex;
  font-size: 50px;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
header > div > span {
  color: black;
  padding-right: 30px;
}
header > div > p {
  padding-right: 50px;
  font-weight: bold;
  color: #313131;
}
header > h1 {
  font-size: 50px;
  width: 500px;
  text-align: center;
  margin: auto;
  margin-top: 60px;
}
header > p {
  color: #636363;
  font-size: 15px;
  margin-inline: 100px;
  margin-top: 30px;
  margin-bottom: 80px;
  text-align: center;
}
header > a {
  display: block;
  border: solid 1px #db6dda;
  padding: 40px;
  font-size: 19px;
  text-decoration: none;
  border-radius: 80px;
  color: white;
  background-color: #db6dda;
  margin-inline: 170px;
  box-shadow: inset -10px -10px 20px 10px #a25bdc, 0px 5px 10px 0px #9d9d9d;
}
header > a:hover {
  box-shadow: inset -10px -10px 20px 10px #a25bdc, 0px 5px 10px 0px #313131;
}

article {
  margin-inline: 5%;
  font-size: 35px;
}
article h2 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 100px;
}
article > ul > li {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}
article > ul > li > p {
  margin-right: 50px;
  padding: 12px;
  padding-inline: 22px;
  background-color: #a25bdc;
  color: white;
  border-radius: 50px;
  position: absolute;
}
article > ul > li > div {
  display: flex;
  border-radius: 30px;
  box-shadow: 0px 10px 20px 5px #dddddd;
  margin-left: 45px;
  padding-right: 250px;
  padding-top: 50px;
  padding-bottom: 50px;
}
article > ul > li > div > span {
  padding-left: 70px;
  padding-right: 50px;
  color: #9d9d9d;
}
article > ul > li > div > p {
  font-weight: bold;
}

.fa-store {
  color: #a25bdc;
}

main {
  margin-inline: 5%;
  margin-top: 200px;
  margin-bottom: 200px;
}
main > h2 {
  font-size: 50px;
  font-weight: bold;
}
main > figure {
  box-shadow: 0px 10px 20px 5px #dddddd;
  width: auto;
  height: 500px;
  border-radius: 30px;
  position: relative;
  margin-bottom: 50px;
}
main > figure img {
  width: 100%;
  height: 350px;
  border-radius: 30px 30px 0px 0px;
  object-fit: cover;
}
main > figure > a {
  color: black;
}
main > figure > a > span {
  position: absolute;
  right: 30px;
  padding-inline: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #008766;
  background-color: #99e2d0;
  border-radius: 5px;
  font-weight: bold;
  width: 150px;
  margin-top: 30px;
}
main > figure figcaption {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
  font-weight: normal;
}
main > figure figcaption span {
  font-weight: bold;
  font-size: 40px;
}
main > figure figcaption h3 {
  padding-left: 30px;
  font-size: 35px;
}
main > figure figcaption p {
  padding-left: 30px;
}

.fa-heart {
  padding-right: 50px;
  padding-bottom: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  font-size: 40px;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}
footer > img {
  filter: invert(100%);
  width: 250px;
  padding-top: 20px;
  padding-bottom: 50px;
}
footer > a {
  display: flex;
  color: white;
  text-decoration: none;
  margin-bottom: 15px;
}
footer > a > span {
  margin-right: 40px;
  width: 20px;
}

/*# sourceMappingURL=style.css.map */
