body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-width: 320px;
    max-width: 1440px;
}

h1{
    display: block;
    font-weight: bold;
}

h2 {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
}

h3{
    display: block;
    font-size: unset;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}

p{
    margin-block-start: 0;
    margin-block-end: 0;
}

span{
    font-size: 40px;
}

a{
    display:block;
}
a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
}

figure{
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: $deepgrey;
    font-size: 40px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    &>img{
        filter: invert(100%);
        width: 250px;
        padding-top: 20px;
        padding-bottom: 50px;
    }
    &>a{
        display: flex;
        color: white;
        text-decoration: none;
        margin-bottom: 15px;
        &>span{
            margin-right: 40px;
            width: 20px;
        }
    }
}