$anthracite: #313131;
$cloudy: #f7f7f7;
$lightGrey: #eaeaea;
$box-shadow: #dddddd;
$lila: #db6dda;
$lavande: #a25bdc;
$mint: #99e2d0;
$chloro: #008766;
$grey: #686868;
$deepgrey: #353535;
$parme: #f5edeb;